.App {
  text-align: center;
}

.App-logo {
  height: 9.5rem;
  width: 19rem;
  float: left;
  margin-left: 4%;
}

.App-header {
  background-color: rgb(233, 158, 18);
  height: 180px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.5rem;
  margin-top: 3%;
}

.App-intro {
  font-size: large;
}

ol, ul {
  padding-left: 30px;
}

.table-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(8, 6, 6);
  border: 1px solid rgb(192, 11, 11);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: rgb(122, 40, 40);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}