.App {
  text-align: center;
}

.App-logo {
  height: 9rem;
  width: 15rem;
  float: left;
}

.App-header {
  background-color: rgb(233, 158, 18);
  height: 180px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.5rem;
  margin-top: 3%;
}

.App-intro {
  font-size: large;
}

.btn-primary{
  padding: 20px;
  border-radius: 16px;
  background: #9068ad;
  color: white;
  font-size: 25px;
  margin-left:1050px;
  font-weight:bold;
  position:relative;

}
button:active{
  background: #f7f7f2;
  color: #000000;
}
