.App {
  text-align: center;
}

.App-logo {
  height: 9rem;
  width: 15rem;
  float: left;
}

.App-header {
  background-color: rgb(233, 158, 18);
  height: 180px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.5rem;
  margin-top: 3%;
}

.App-intro {
  font-size: large;
}

.btn-primary{
  padding: 20px;
  border-radius: 16px;
  background: #9068ad;
  color: white;
  font-size: 25px;
  margin-left:1050px;
  font-weight:bold;
  position:relative;

}
button:active{
  background: #f7f7f2;
  color: #000000;
}
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}